.cert-text{
    color: var(--main-white);
}
.cert-card-img{
    width: 5vw;
}
.cert-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--main-white);
    padding: 5vw;
}
.cert-text{
    width: 75%;
    padding: 0 0 2vw 0;
}
.cert-card-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    cursor: pointer;

    /* color of the cards */
    background-color: var(--main-white);
    border-radius: 1vw;
    
    /* margin: 1vw; */
    padding: 2vw;
}
.cert-card-text{
    color: var(--main-red);
}
.cert-card-outer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3vw 8vw;
}
