.home-container{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2vw;
}
.parent-card{
    display: grid;

    grid-template-columns: 30vw 20vw;
    height: 40vw;
    overflow: visible;

    border-radius: 2vw;
}

.home-icon{
    height: 2vw;
    border-radius: 0.5em;
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); */
}
.home-icon-con{
    gap: 0.5vw;
    padding-top: 0.5vw;
    width: 30%;
    overflow: hidden;
}
.icon-track {
  display: flex;
  gap: 1vw;
  width: max-content;
  animation: marquee 30s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.left-card{
    background-color: var(--main-white);
    overflow: hidden;
    padding: 8vw 2vw 0 2vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border-right: 0.15vw dashed var(--main-red);
    border-radius: 1vw 0 0 1vw;
}
.left-welcome{
    font-family: var(--font-cursive);
    font-size: 7vw;
}
.left-body{
    font-size: 1.1vw;
    margin: 0 0 1em 0;
    text-align: justify;
    line-height: 1.2vw;
}
.left-bottom{
    margin: 0;
    line-height: 1.2vw;
}
.text-bold{
    font-weight: var(--weight-heavy);
}

.right-card{
    background-color: var(--main-red);    

    display: grid;
    grid-template-rows: repeat(4vw,1fr);
}
.right-strip{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2vw;

    border: 0.15vw dashed var(--main-red);    
    border-right: 0px; 
    border-left: 0px;
    background: var(--main-white);
    cursor: pointer;

    transition:
      transform 0.35s ease,
      box-shadow 0.35s ease;
}
.top-strip {
    border-top: 0px;
    border-right: 0px;
    border-radius: 0 1vw 0 0;
}
.bottom-strip {
    border-bottom: 0px;
    border-right: 0px;
    border-radius: 0  0 1vw 0;
}

.right-strip link{
    text-decoration: none;
}
.right-strip:hover{
    font-weight: 800;
    transition: ease-in-out 0.3s;

    transform: translateX(1.5vw);
    box-shadow: -0.8vw 0 1vw rgba(0, 0, 0, 0.2);
}
.right-strip::before {
    content: "";
    position: absolute;
    left: -0.8vw;
    top: 0;
    width: 0.8vw;
    height: 100%;

    background:
      repeating-linear-gradient(
        to bottom,
        transparent 0 6px,
        var(--main-white) 6px 12px
      );

    opacity: 0;
    transition: opacity 0.35s ease;
}
.right-strip:hover::before {
    opacity: 1;
}
.home-raven{
    width: 4vw;
    position: relative;
    top: 5vw;
    left: 19vw;

    margin: 0;
    padding: 0;
    cursor: pointer;
}