.nav-logo{
    width: 4vw; /* size of the logo*/
    cursor: pointer;
    padding: 0 0 0 4vw; /* left padding of the logo*/
    filter: drop-shadow(0 0 0.25vw var(--main-red))
      drop-shadow(0 0 0.5vw var(--main-red));
}
.nav-left div{
    display: flex;
    align-items: center;
}
.nav-title{
    font-family: var(--font-cursive);
    color: #ffffff;
    font-size: 3vw;

    margin: 0 1vw; /* left padding of the title*/
    text-shadow: 0 0 0.25vw var(--main-red),
      0 0 0.5vw var(--main-red),
      0 0 0.75vw rgba(255, 0, 0, 0.6);
}
.nav-container{
    position: sticky;
    top: 1vh;
}
