.proj-text{
    /* font-size: 1vw; */
    color: var(--main-white);
}
.proj-card-img{
    width: 100%;        /* fill the container width */
    height: 10vw;       /* maintain aspect ratio */
    object-fit:cover; /* keep aspect ratio */
    border-radius: 0.5vw; /* optional: rounded corners */

    padding-bottom: 1vw;
}
.proj-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--main-white);
    padding: 5vw;
}
.proj-card-inner:hover{
    transform: translateY(-1vw); 
}
.proj-text{
    width: 75%;
    padding: 0 0 2vw 0;
}
.proj-card-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    cursor: pointer;

    /* color of the cards */
    background-color: var(--main-white);
    border-radius: 1vw;
    
    /* margin: 1vw; */
    padding: 2vw;
    flex-grow: 1;  
}
.proj-card-text{
    color: var(--main-red);
}
.proj-card-outer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3vw 4vw;

    padding: 1vw 8vw;
}
.proj-card-inner,
.proj-card-inner-con {
    box-sizing: border-box;
}
.proj-card-inner-con{
    background-color: var(--main-darkred);
    border-radius: 1vw;
    /* padding: 1vw; */

    display: flex;          /* make inner a flex container */
    flex-direction: column; /* stack children vertically */
    height: 100%;           /* stretch to grid cell height */
}
.proj-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient:vertical;
  overflow: hidden;

  font-size: 1vw;
}
.proj-desc.expanded {
  -webkit-line-clamp: unset;
}
.read-more {
  background: none;
  border: none;
  color: var(--main-red);
  cursor: pointer;
  padding: 0;
  font-size: 0.85rem;
  font-style: italic;
}
.read-more:hover {
  font-weight: 600;
}
.proj-card-title{
    font-weight: 800;
    font-size: 1.5vw;
}
.proj-card-org{
    font-style: italic;
    font-size: 1vw;
}
