.footer-con{
    /* margin: 1vw;
    padding-top: 2vw; */
    color: var(--main-white);
    font-size: 1vw;


    z-index: 9999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5vw;
}
.footer-wrapper{
    margin: 3vw 0;
}
.footer-img{
    width: 2vw;
    
    /* border: solid 2px black; */
}