:root{
    --font-cursive: "Damion";
    --font-general: "Fredoka";
    --weight-heavy: 800;

    /* colors */
    --main-red: #EC1D39;
    --main-darkred: #a20230;
    --main-white: #FEE3E8;

}

html,body{
    font-family: var(--font-general);
    background-color: var(--main-red);
    color: var(--main-red);
    box-sizing: border-box;
}